    {% extends "structure.html" %}


    {% block content %}

    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center">The perfect website for your needs</h1><img class="img-fluid border rounded-0 shadow" src="{{ url_for('static', filename='assets/img/CurrentITManHomePage.png') }}"></div>
                    <div class="text">
                        <p>Websites can be made in many ways, each satisfying different requirements. I focus on delivering what is best for you and your needs, or helping you find someone who can deliver larger projects if necessary.&nbsp;<br></p>
                        <p></p>
                        <p></p>
                        <h2>How does the process work?</h2>
                        <p>If you already have a website that you want recreated to escape a bad system/provider, the process of creating the website is significantly faster as the design work does not have to be completely redone. This is a common request,
                            along with “modernising” an older website. An example of work of this manner I've carried out can be seen below.<br></p>
                        <p>Having an existing website that you need recreated, updated, or just modernised can make the process easier - the design element can be the most time consuming. This is quite common, and can be seen both with the ITMan project
                            and other jobs in my portfolio below.<br></p>
                        <figure><img class="figure-img border rounded-0 shadow" src="{{ url_for('static', filename='assets/img/OldITManPage.png') }}">
                            <figcaption>The old version of the ITMan site, compared to the updated version which can be seen <a href="https://itmantech.co.uk">here</a>&nbsp;(also shown above).</figcaption>
                        </figure>
                        <p>Otherwise, it’s important to have an idea of what you want. What features does your site need? Does it only need to display images and information, or does it need to have an interactive store which can process payments? I can
                            help you work through exactly what you want, and how those needs affect the technical level of the site and therefore pricing.<br></p>
                        <h2>How does pricing work?</h2>
                        <p>There are two main on-going costs for a website - the "hosting" (paying the company that keeps website online), and the domain name (the registration of your sites name, i.e. xanderforrest.com). On average, this is a relatively
                            low monthly cost of £10-£20.</p>
                        <p>I charge a one time fee to design/create the site, this depends on the scope of your project, and will be discussed initially so there's no surprises down the road.<br></p>
                        <h2>What next?</h2>
                        <p><a href="/contact">Get in touch</a> so we can work out the details of what you need, how it'll be done, and how much it'll cost. If you're unsure about which path to take on the website creation process, or just want me
                            to clarify any points, I'm more than happy to call and talk about it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
