    {% extends "structure.html" %}

    {% block title %} Contact | Xander Forrest {% endblock %}

    {% block content %}

    <h1 class="text-center">Contact</h1>
    <div class="social-icons"><a href="mailto:xander@xanderforrest.com"><i class="fa fa-envelope-o"></i></a><a href="tel:+07568991167"><i class="fa fa-phone"></i></a><a href="https://www.facebook.com/xanderforresttech/"><i class="fa fa-facebook"></i></a><a href="https://github.com/xanderforrest"><i class="fa fa-github"></i></a></div>

    {% endblock %}