    {% extends "structure.html" %}


    {% block content %}
    <h1 class="text-center">Services</h1>
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro"></div>
                    <div class="text">
                        <p class="front-page" style="filter: blur(0px) saturate(100%);">No two jobs are the same, every service I offer is catered directly to your needs. I strive to make understanding options and situations simple, so you have all the information to make decisions on how you'd like to move forward
                            with your job.<br></p>
                        <p class="front-page" style="filter: blur(0px) saturate(100%);">Take a look at the page that best fits your problem, and then give me a call with any other questions.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container services-container">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="serviceBox yellow">
                    <div class="service-icon"><a href="#"><i class="fa fa-pencil-square-o"></i></a></div>
                    <div class="service-content">
                        <h3>Training</h3>
                        <hr>
                        <p>I can help you learn how to take full advantage of your devices features, be it specific software/tasks, or just basic day-to-day usage. I cover Windows and OSX, along with iOS devices and the full Microsoft Office suite. I offer
                            Computer Training services in Faringdon and surrounding areas.&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="serviceBox green">
                    <div class="service-icon"><a href="/services/websites.html"><i class="fa fa-laptop"></i></a></div>
                    <div class="service-content">
                        <h3>Websites</h3>
                        <hr>
                        <p>Do you need a web presence but don't want to deal with complicated setups? For a one time fee I can create a website for your small business that you will then easily be able to update yourself. <a href="services/websites.html">Find out more.</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="serviceBox pink">
                    <div class="service-icon"><a href="#"><i class="fa fa-wrench"></i></a></div>
                    <div class="service-content">
                        <h3>install &amp; setup</h3>
                        <hr>
                        <p>New devices? Be it a new console that needs parental controls, Apple products you want integrated with your iCloud account, or an entire home media setup - I can do the complicated parts everyone dreads. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}