<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Xander Forrest | Tech Help and Training</title>
    <meta property="og:type" content="website">
    <meta name="description" content="Help with understanding and using your technology - general computer training to getting you setup with a full web presence.">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Article-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Contact-Form-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Footer-Basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Highlight-Phone.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Navigation-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Service-Box-Style-01.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Social-Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Article-List.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Login-Form-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Lightbox-Gallery.css') }}">

</head>

<body>

    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><img class="logo" src="{{ url_for('static', filename='assets/img/NEW.png') }}"><a class="navbar-brand" href="/home">Xander Forrest</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link" href="#">Control Panel</a>
                        <div role="menu" class="dropdown-menu">
                            <a role="presentation" class="dropdown-item" href="/uploads">Uploads</a>
                            <a role="presentation" class="dropdown-item" href="/admin/new-blog">Add Blog Post</a>
                            <a role="presentation" class="dropdown-item" href="/clients">View Clients</a>
                        </div>
                    </li>
                    {% endif %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/blog">Blog</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/services">Services</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/contact">Contact</a></li>
                </ul>
        </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://github.com/xanderforrest"><i class="fa fa-github"></i></a><a href="https://www.facebook.com/xanderforresttech/"><i class="fa fa-facebook"></i></a></div>
            <p class="footer-text">xander@xanderforrest.com - 07568 991167</p>
            <p class="copyright">Xander Forrest&nbsp;<strong>© 2020</strong></p>
                    {% if current_user.is_authenticated %}
                    <p class="copyright"><a href="/logout">Logout</a><br><br></p>
                    {% else %}
                    <p class="copyright"><a href="/login">Log in</a><br><br></p>
                    {% endif %}
        </footer>
    </div>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>